/* main */
main {
  width: 80%;
  margin: 0px auto;
  margin: 200px auto 150px;
}

main .container {
  font-family: "Sunflower";
  font-size: 17px;
}

main .container .writeTitle {
  margin: 30px 0;
  font-size: 20px;
}

main .container form table {
  width: 100%;
}

main .container form table th,
main .container form table td {
  /*border: 1px solid;*/
}

main .container form table th,
main .container form table tr td:nth-child(1) {
  text-align: center;
  padding: 10px 0;
}

main .container form table tr td input {
  width: 100%;
  padding: 10px;
}

main .container form table tr td input[type="file"] {
  padding-left: 0;
}

main .container form table tr:last-child td {
  text-align: end;
}

main .container form table tr td input[type="submit"] {
  border: 2px solid var(--background-color);
  border-radius: 4px;
  background-color: var(--white-color);
  width: 5%;
  padding: 3px;
}