/* main */
main {
  width: 80%;
  margin: 0px auto;
  margin: 200px auto 150px;
}

main .container {
  font-family: "Sunflower";
  font-size: 17px;
}

main #main_title {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 20px;
}

main img {
  width: 100%;
  max-width: 180px;
  height: 100%;
  max-width: 130px;
  display: block;
  margin: 0px auto;
  padding: 10px 0px 15px 0px;
}

main .container .menu {
  border: 1px solid var(--border-color);
  margin-bottom: 100px;
}

main .dae_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0;
  margin-top: 0;
  border-bottom: 1px solid var(--border-color);
}

main .dae_menu li {
  padding: 20px;
  font-family: "Sunflower";
}

/* 체크 박스 바꾸기 */
.checkbox-container {
  position: relative;
}

/* // 기본 체크박스 없애기 */
.dae_menu input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* // 웹의 경우 커서에 pointer 설정 */
.dae_menu input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* // 새로운 디자인의 체크박스 만들기 */
.dae_menu input[type="checkbox"] + label:before {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  inset: 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.dae_menu input[type="checkbox"] + label:active:before,
.dae_menu input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  inset: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.dae_menu input[type="checkbox"]:checked + label:before {
  content: "\2714";
  color: var(--text-color);
  text-shadow: 1px 1px var(--white-color);
  background: var(--white-color);
  border-color: var(--border-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset 0px -15px 10px -12px
    rgba(0, 0, 0, 0.05);
}

main .menuBtn {
  margin: 25px 0px;
  display: flex;
  justify-content: center;
}

main .menuBtn button {
  padding: 8px 10px;
  margin: 0 5px;
  background-color: var(--white-color);
  color: var(--background-color);
  border: 2px solid var(--background-color);
  outline: none;
  border-radius: 4px;
  font-family: "Sunflower";
}

main .menuBtn button i {
  padding-right: 5px;
}

/* main : 내용 부분  */
main .container .content ul {
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}

main .container .content ul li {
  border: 1px solid var(--border-color);
  padding: 10px;
  font-family: "Sunflower";
}

main .container .content ul li a {
  text-decoration: none;
  color: var(--text-color);
}

main .container .content .title {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 40px;
}

main .container .content .info {
  border-top: 1px dotted var(--border-color);
  padding-top: 20px;
}





/* 모바일 */
@media screen and (max-width: 320px) {
  /* uppermost */
  .uppermost .container {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .uppermost .logo {
    font-size: 25px;
    justify-content: flex-start;
  }

  .uppermost .navbar_upper,
  .uppermost .uplog,
  .uppermost span,
  nav .navbar {
    display: none;
  }

  /* 토글 버튼 적용 시 */
  .uppermost > .container {
    flex-direction: column;
  }

  .uppermost .navbar_upper > li > a {
    font-size: 20px;
  }

  .uppermost .navbar_upper > li {
    margin: 10px;
  }

  .uppermost .navbar_upper,
  .uppermost .uplog_upper {
    text-align: center;
  }

  .uppermost .navbar_upper {
    border-bottom: 1px solid var(--white-color);
  }

  .uppermost .toggleBtn {
    display: block;
  }

  .navbar_upper.active,
  .uplog.active {
    display: grid;
  }

  /* header */

  header .container .slide {
    width: 100%;
  }

  header img {
    height: 200px;
    padding-bottom: 30px;
  }

  /* main */
  main {
    width: 100%;
    margin: 100px auto;
  }

  main #main_title,
  main .menu {
    margin: 0 5px;
    font-size: 20px;
  }

  main .dae_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    margin: 5px 0;
  }

  main .dae_menu li {
    padding: 8px;
  }

  main .menu .menuBtn {
    padding: 0;
    margin: 10px 5px;
    font-size: 15px;
  }

  main .menuBtn input {
    padding: 4px 6px;
  }

  main .menuBtn i {
    top: 8px;
    padding-left: 15px;
  }

  /* 메인 : 내용 부분 */
  main .container .content ul {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
  }

  main .container .content ul li:nth-last-child(1),
  main .container .content ul li:nth-last-child(2),
  main .container .content ul li:nth-last-child(3),
  main .container .content ul li:nth-last-child(4) {
    display: none;
  }

  /* 페이징 */
  main .paging {
    margin-top: 60px;
  }

  main .container .paging li:nth-child(7),
  main .container .paging li:nth-child(8),
  main .container .paging li:nth-child(9),
  main .container .paging li:nth-child(10),
  main .container .paging li:nth-child(11),
  main .container .paging li:nth-child(12) {
    display: none;
  }

  main .container .paging li {
    padding: 10px;
  }

  /* footer */
  .footer_menu1 > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.1em;
  }

  .footer_menu1 > ul > li {
    padding: 10px 0px;
  }

  .footer_menu2 img {
    width: 100%;
    width: 200px;
    vertical-align: bottom;
    padding: 5px auto;
  }

  .footer_menu2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
  }

  .footer_menu2 .right_up > div:nth-child(2),
  .footer_menu2 .right_up > div:nth-child(3),
  .footer_menu2 .right_down > div:nth-child(1) {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .uppermost .navbar_upper {
    display: none;
  }

  header img {
    height: 300px;
  }

  nav .navbar > li {
    font-size: 20px;
    padding: 15px 20px;
  }

  nav .navbar li a {
    color: var(--white-color);
  }

  main {
    width: 90%;
    margin: 100px auto 100px;
  }

  main #main_title {
    font-size: 20px;
  }

  main .gong_menu {
    font-size: 15px;
  }

  main .container .content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }

  main .container .content ul > li:nth-child(7),
  main .container .content ul > li:nth-child(8) {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  /* header */
  header img {
    padding-bottom: 40px;
  }

  /* nav */
  nav li {
    display: none;
  }

  nav .navbar {
    display: none;
  }
}