/* main */
main {
  width: 65%;
  margin: 150px auto;
  border: 1px solid var(--border-color);
}

main .container {
  font-family: "Sunflower";
}

main .header {
  font-size: 22px;
  margin: 15px;
}

/* main : content */
/* main : 제목 부분 */
main .container .content {
  padding: 20px;

  border-top: 1px solid var(--border-color);
}

main .container .content .content_title {
  font-size: 18px;
  padding: 20px 0;
}

main .container .content .content_title div:nth-child(2) {
  font-size: 15px;
  text-align: right;
}

/* main : 개요 부분 */
main .content_overview {
  display: flex;
  justify-content: center;
}

main img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 350px;
  vertical-align: bottom;
  padding-right: 8px;
}

main .content_overview table {
  height: 350px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
}

main .content_overview table tbody th {
  text-align: center;
}

/* main : 세부사항 부분 */
main .content_detail {
  margin: 50px 0 0 0;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

main .content_detail .detail_title {
  font-size: 20px;

  padding: 20px 0px 10px 0px;
}

main .content_detail .info {
  margin: 10px;
}

main .content_detail .info .info_title1 {
  padding: 10px 0px;
  font-size: 18px;
}

main .content_detail .info .info_title2 {
  padding: 40px 0px 0px 0px;
}

main .content_detail .info .info_content {
  padding: 10px;
  word-break: keep-all;
  word-wrap: normal;
  line-height: 25px;
}

/* main: detail_notice */
main .content_detail .detail_notice {
  display: flex;
  justify-content: center;
  margin: 100px 0px 40px;
}

main .content_detail .detail_notice div {
  padding: 20px;
  border: 1px solid var(--border-color);
}

main .content_detail .detail_notice div:nth-child(1) {
  font-family: "Kalam";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .content_detail .detail_notice div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

main .content_detail .detail_notice div:nth-child(2) span {
  padding-bottom: 3px;
}

/* main : 버튼 부분 */
main .btnGrp {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

main .btnGrp button {
  padding: 8px 15px;
  background-color: var(--white-color);
  border: 2px solid var(--background-color);
  border-radius: 4px;
  outline: none;
  margin: 20px 0px 10px 10px;
  font-family: "Sunflower";
  font-size: 15px;
}