/* main */
main {
  width: 65%;
  margin: 200px auto;
}

main .container {
  font-family: "Sunflower";
  font-size: 1.2em;
}

main .commContentBox {
  border: 1px solid var(--border-color);
  padding: 25px 50px;
}

/* comm_header */
main .comm_header .commTitle {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
}

main .comm_header .commTitle .rtitle {
  font-size: 25px;
  padding-bottom: 20px;
}

main .comm_header .commTitle .writerInfo {
  font-size: 15px;
  display: flex;
}

main .comm_header .comm_info span {
  padding-right: 10px;
  color: gray;
}

main .comm_header .comm_info span:nth-child(2) {
  padding-right: 0;
}

/* comm_content 부분 */
main .comm_content .comm_content1 {
  padding: 30px 20px;
  height: 100%;
  min-height: 500px;
  line-height: 30px;
  word-break: break-all;
  font-size: 17px;
}

main .commContentBox .comm_content2 {
  text-align: right;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0 10px;
}

main .commContentBox .comm_content2 a {
  text-decoration: none;
  color: red;
}

main .commContentBox .comm_content2 a:hover {
  font-weight: bold;
}

/* 댓글 작성  */
main .comment {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

main .comment .commentTitle {
  margin: 10px 0 20px;
}

main .comment .comment_up_id {
  margin: 0 0 10px;
  font-weight: bold;
}

main .comment .comment_up_write {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
  align-items: flex-end;
}

main .comment .comment_up_write input {
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 4px 6px;
  outline: none;
}

main .comment_down {
  display: flex;
}

main .comment textarea {
  outline: none;
  padding: 10px;
  width: 96%;
}

main .comment .comment_down input {
  background-color: var(--white-color);
  border: 1px solid var(--background-color);
  border-radius: 4px;
  height: 30px;
  margin-top: 92px;
  margin-left: 10px;
  outline: none;
}

/* comm_btns 부분 */
main .comm_btns {
  text-align: end;
  margin-top: 25px;
}

main .comm_btns input {
  border: 2px solid var(--background-color);
  border-radius: 4px;
  outline: none;
  background-color: var(--white-color);
  padding: 4px 12px;
  font-size: 16px;
  font-family: "Sunflower";
  margin-left: 3px;
}