<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DaeDAO-mapper">
	<insert id="insertDae" parameterType="com.kh.prj.dae.vo.DaeVO">
		<![CDATA[
			insert into dae (
				DNO,
				WRITER,
				CATEGORY,
				TITLE,
				APPLYSTART,
				APPLYEND,
				STARTDAY,
				HOST,
				WAY,
				APPLYMONEY,
				AWARD,
				HOMEPAGE,
				D_COMMENT,
				PIC)
				values
				(
				dae_seq.nextval,
				#{writer},
				#{category},
				#{title},
				#{applystart},
				#{applyend},
				#{startday},
				#{host},
				#{way},
				#{applymoney},
				#{award},
				#{homepage},
				#{d_comment},
				#{fileName})
		]]>
	</insert>
	<select id="dlist" resultType="com.kh.prj.dae.vo.DaeVO">
		<![CDATA[
			SELECT dno,writer,category,cdate,title,applystart,applyend,startday,host,way,homepage,d_comment,cnt,pic,applymoney,award
			FROM	(SELECT /*+INDEX_DESC(dae dae_pk) */
						rownum rn, dno,writer,category,cdate,title,applystart,applyend,startday,host,way,homepage,d_comment,cnt,pic,applymoney,award
					from dae where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum}-1) * #{amount}
			ORDER BY dno DESC
		]]>
	</select>
	<select id="dview" resultType="com.kh.prj.dae.vo.DaeVO">
		<![CDATA[
			select dno,writer,category,cdate,title,applystart,applyend,startday,host,way,homepage,d_comment,cnt,pic,applymoney,award 
			from dae
			where dno = #{dno}
		]]>
	</select>
	
	<update id="daeMod" parameterType="com.kh.prj.dae.vo.DaeVO">
		<![CDATA[
			update dae
			set	category = #{category},
				title = #{title},
				applystart = #{applystart},
				applyend = #{applyend},
				startday = #{startday},
				host = #{host},
				way = #{way},
				homepage = #{homepage},
				d_comment = #{d_comment},
				pic = #{fileName},
				applymoney = #{applymoney},
				award = #{award}
				where dno = #{dno}
		]]>
	</update>
	
	<delete id="del" parameterType="int">
		<![CDATA[
			delete dae where dno = #{dno}
		]]>
	</delete>
	
	<select id="checklist" resultType="com.kh.prj.dae.vo.DaeVO">
			select * from dae 
			where category in
			<foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
	
	<select id="getTotalCnt" resultType="int">
		select count(*) from dae
	</select>
	
	<select id="rank" resultType="com.kh.prj.dae.vo.DaeVO">
	<![CDATA[
		select rownum, a.dno,a.writer,a.category,a.cdate,a.title,a.applystart,a.applyend,a.startday, a.host,a.way,a.homepage,a.d_comment,a.pic,a.applymoney,a.award
        from ( select dno,writer,category,cdate,title,applystart,applyend,startday,host,way,homepage,d_comment,pic,applymoney,award from dae order by cdate desc) A where rownum < 3
    ]]>
	</select>
</mapper>