<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberDAO-mapper">
	<!-- 회원가입 -->
	<insert id="joinMember" parameterType="com.kh.prj.member.vo.MemberVO">	
		insert into member (id, pw, name, birth, gender, phone, email, free) 
		values (#{id},#{pw},#{name},#{birth},#{gender},#{phone},#{email},#{free})
	</insert>
	
	<!-- ID조회 -->
	<select id="listId" resultType="com.kh.prj.member.vo.MemberVO">
		select id, pw, name,birth,gender,phone,email, free,cdate ,dan
		from member 
		where id = #{id} 
	</select>
	
	<!-- 회원 리스트 -->
	<select id="memberList" resultType="com.kh.prj.member.vo.MemberVO">
		select id, name, birth, gender, phone, email, free, dancntnumber , dan
		from member
	</select>
	
	<!-- 회원 수정 -->
	<update id="modifyMember" parameterType="com.kh.prj.member.vo.MemberVO">
		update member 
    	   set pw = #{pw},
    	   	   phone = #{phone}, 
        	   email = #{email},
        	   free = #{free}
    	 where id = #{id}
	</update>
	
	<select id="memberCheck" parameterType="com.kh.prj.member.vo.MemberVO" resultType="com.kh.prj.member.vo.MemberVO">
		select *
		from member 
		where id = #{id}
	</select>
	
	<!-- 아이디 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		select count(id)
		from member
		where id = #{id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="com.kh.prj.member.vo.MemberVO" resultType="String">
		select id 
		from member 
		where name = #{name} and email = #{email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="com.kh.prj.member.vo.MemberVO" resultType="String">
		select * 
		from member 
		where id = #{id} and email = #{email}
	</select>
	
	<!-- 신고 횟수 추가 -->
	<update id="dancnt" parameterType="String">
		update member 
		set dancntnumber = dancntnumber + 1 
		where id = #{id}
	</update>
	<!-- 비번 변경 -->
	<update id="changePw" parameterType="com.kh.prj.member.vo.MemberVO">
		update member set pw = #{pw} where id = #{id} and email = #{email}
	</update>
	
	<!-- 신고횠수 가져오기 -->
	<select id="getcnt" parameterType="String" resultType="int">
		select dancntnumber 
		from member 
		where id = #{id}
	</select>
	
	<!-- 블랙리스트 추가 -->
	<insert id="addBlackList" parameterType="String">
		insert into blacklist (id) values(#{id})
	</insert>
	
	<select id="checkBlackList" parameterType="String" resultType="String">
		select id from blacklist where id = #{id}
	</select>
	
	<!-- 회원삭제 -->
	<delete id="delMember" parameterType="String">
		delete member where id = #{id}
	</delete>
	
	<!-- 신고 목록에 있는 지확인 -->
	<select id="checkreport" parameterType="com.kh.prj.member.vo.ReportVO" resultType="int">
		select count(*) from report where id = #{id} and bno = #{bno}
	</select>
	
	
	<!-- 신고 처리 -->
	
	<!-- 신고리스트 추가 -->
	<insert id="reportinsert" parameterType="com.kh.prj.member.vo.ReportVO">		
		insert into report values(report_seq.nextval,#{id},#{r_comment},#{bno})
	</insert>
	
	<select id="reportlist" resultType="com.kh.prj.member.vo.ReportVO">
	<![CDATA[
		SELECT no,id,r_comment,bno
					FROM	(SELECT /*+INDEX_DESC(report report_pk) */
								rownum rn, no,id,r_comment,bno
							from report where rownum <= #{pageNum} * #{amount} )
					where rn > (#{pageNum}-1) * #{amount}
					ORDER BY no DESC
	]]>	
	</select>
	<select id="getTotal" resultType="int">
		select count(*) from report
	</select>
</mapper>