<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RecruitDAO-mapper">
	<!-- 글 리스트 조회 -->
	<select id="listRboard" resultType="com.kh.prj.recruit.vo.RecruitVO">
		<!-- select * from recruit order by rno desc -->
		<![CDATA[
		SELECT rno,id,rtitle,rcdate,rcnt,tno,rcategory
			FROM	(SELECT /*+INDEX_DESC(recruit recruit_pk) */
						rownum rn, rno, rtitle, id, rcdate, rcnt,tno,rcategory
					from recruit where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum}-1) * #{amount}
			ORDER BY rno DESC
		]]>
	</select>
	
	<select id="list" resultType="com.kh.prj.recruit.vo.RecruitVO">
		select * from recruit order by rno desc
	</select>
	
	
	<!-- 게시글 작성 -->
	<insert id="insertRboard" parameterType="com.kh.prj.recruit.vo.RecruitVO">
		<choose>
		<when test='rregion != null'>
		insert into recruit (rno, id, rtitle, rpw, ronoff, rcategory, rcomment, rregion, rgroup, rstep, rindent,tno )
		values(recruit_seq.nextval,#{id}, #{rtitle}, #{rpw}, #{ronoff}, #{rcategory}, #{rcomment}, #{rregion}, recruit_seq.currval,0,0,#{tno})
		</when>
		<otherwise>
		insert into recruit (rno, id, rtitle, rpw, ronoff, rcategory, rcomment, rgroup, rstep, rindent,tno )
		values(recruit_seq.nextval,#{id}, #{rtitle}, #{rpw}, #{ronoff}, #{rcategory}, #{rcomment}, recruit_seq.currval,0,0,#{tno})
		</otherwise>
		</choose>
	</insert>
	
	<!-- 게시글 보기 -->
	<select id="viewRboard" resultType="com.kh.prj.recruit.vo.RecruitVO">
		select * from recruit where rno = #{rno}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCntPlus" parameterType="com.kh.prj.recruit.vo.RecruitVO">
		update recruit set rcnt = rcnt + 1 where rno = #{rno}
	</update>
	
	<select id="getTotalCnt" resultType="int">
		select count(*) from recruit
	</select>
	
	<!-- 순위조회 -->
	<select id="rank" resultType="com.kh.prj.recruit.vo.RecruitVO">
		<![CDATA[
		select rownum, a.rno,a.id,a.rtitle,a.rcnt from ( select rno, id, rtitle,rcnt from recruit order by rcnt desc) A where rownum < 7
		]]>
	</select>
	
	<!-- 내가쓴글 마이페이지 3개 노출 -->
	<select id="mypagerecruit" parameterType="String" resultType="com.kh.prj.recruit.vo.RecruitVO">
		<![CDATA[
		select rownum, a.rno,a.id,a.rtitle,a.rpw,a.rcomment,a.rcnt,a.rcdate,a.rregion, a.rappcnt,tno 
    	from (select rno,id,rtitle,rpw,rcomment,rcnt,rcdate,rregion,rappcnt,tno from recruit order by rcdate desc) A
    	where id=#{id} and rownum < 4
    	]]>
	</select>
	
	<select id="checklist" resultType="com.kh.prj.recruit.vo.RecruitVO">
	<![CDATA[
		SELECT rno,id,rtitle,rcdate,rcnt,tno,rcategory
			FROM	(SELECT /*+INDEX_DESC(recruit recruit_pk) */
						rownum rn, rno, rtitle, id, rcdate, rcnt,tno,rcategory
					from recruit where rownum <= #{pageNum} * 8 and rregion=#{region} and ronoff=#{onoff} and rcategory=#{category})
			where rn > (#{pageNum}-1) * #{amount}
			ORDER BY rno DESC
	]]>
	</select>
	<select id="selectTotalCnt" resultType="int">
		select count(*) from recruit where rregion=#{region} and ronoff=#{onoff} and rcategory=#{category}
	</select>
</mapper>