/* main */
main {
  width: 70%;
  margin: 200px auto;
}

main .container,
main .container aside ul li,
main .container section ul li {
  font-family: "Sunflower";
}

main ul {
  padding-left: 0px;
}

main .container .content aside {
  width: 20%;
  float: left;
}

main .container .content section {
  width: 80%;
  float: left;
}

main .container .content aside a,
main .container .content section a {
  text-decoration: none;
  color: var(--text-color);
}

/* aside */
main aside .atitle {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

main aside .astitle {
  font-weight: bold;
  padding: 20px 0 5px;
  margin-right: 20px;
  border-bottom: 1px solid var(--border-color);
}

main aside ul li {
  padding: 10px 0 5px;
}

/* section */
main .container .content section .atitle {
  display: none;
}

main section .stitle {
  padding: 10px 0;
  border: 2px solid var(--background-color);
  border-radius: 4px;
  text-align: center;
}

main section .stitle span {
  color: var(--background-color);
  font-weight: bold;
}

/* 내가 땡땡 팀 공통 */
main section .team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 20px;
  border: 1px solid var(--border-color);
  padding: 20px;
}

main section .makeTeam .makeTeamTitle,
main section .belongTeam .belongTeamTitle {
  font-weight: bold;
  font-size: 1.2em;
}

/* 내가 만든 팀 */
main section .makeTeam1 {
  border-right: 1px solid var(--border-color);
}

main section .makeTeam1_list {
  padding-top: 20px;
}

main section .makeTeam1_list ul {
  margin: 0;
}

main section .makeTeam1_list ul li {
	padding: 10px 0
}

main section .makeTeam1_list .for {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

/* 내가 속한 팀 */
main section .belongTeam {
  margin-left: 30px;
}

main section .belongTeam1_list {
  padding-top: 20px;
  text-align: center;
}

main section .belongTeam1_list1 ul {
  margin: 0;
}

main section .belongTeam1_list1 ul li{
	padding:10px 0
	}