/* main */
main {
  width: 70%;
  margin: 200px auto;
}


main .container,
main .container aside ul li,
main .container section ul li {
  font-family: "Sunflower";
}

main ul {
  padding-left: 0px;
}

main .container .content aside {
  width: 20%;
  float: left;
}

main .container .content aside .stitle {
  display: none;
}

main .container .content section {
  width: 80%;
  float: left;
}

main .container .content aside a,
main .container .content section a {
  text-decoration: none;
  color: var(--text-color);
}

/* aside */
main .container .content aside .atitle {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

main .container .content aside .astitle {
  font-weight: bold;
  padding: 20px 0 5px;
  margin-right: 20px;
  border-bottom: 1px solid var(--border-color);
}

main .container .content aside ul li {
  padding: 10px 0 5px;
}

main .container .content aside ul i {
  display: none;
}

/* section */
main section form {
  margin: 20px;
}

main section .stitle {
  padding: 10px 0;
  text-align: center;
  border: 2px solid var(--background-color);
  border-radius: 4px;
}

main section .stitle span {
  font-weight: bold;
  color: var(--background-color);
}

main section .atitle {
  display: none;
}

/* section - 게시판 윗부분*/
main section .boardPart {
  margin: 20px;
}

main section .boardPart .boardPart_up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

main section .upTitle {
  font-size: 18px;
  padding-top: 5px;
}

main section .upTitle i {
  color: var(--text-color);
  padding-right: 5px;
}

main section .boardPart_up .writeBtn {
  position: relative;
}

main section .boardPart_up .writeBtn i {
  position: absolute;
  top: 8px;
  padding-left: 10px;
}

main section .boardPart_up input {
  text-indent: 24px;
  padding: 4px;
  background-color: var(--white-color);
  border: 1px solid var(--background-color);
  border-radius: 4px;
}

/* section - 게시판 아랫부분 */
main section .boardPart_down .rtitle {
	display: flex;
}

main section .boardPart_down {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

main section .boardPart_down .boardPartTitle {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}

main section .boardPart_down .reply {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  align-items: center;
}

main section .boardPart_down .reply1 {
	 display: grid;
  grid-template-columns: 20px 1fr ;
}

main section .boardPart_down .reply .rtitle,
main section .boardPart_down .reply .id {
  padding: 0 5px;
  word-break: break-all;
}

main section .boardPart_down .reply .rdate {
  text-align: center;
}

main section .boardPart_down .original {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

main section .boardPart_down .original .rtitle,
main section .boardPart_down .original .id {
  padding: 0 5px;
  word-break: break-all;
}

main section .boardPart_down .original .rdate {
  text-align: center;
}

main section .boardPart_down .original:last-child {
  border-bottom: none;
}

/* 페이징 */
main section .paging {
  text-align: center;
  margin-top: 20px;
}