/* main */
main {
  width: 70%;
  margin: 200px auto;
}

main .container,
main .container aside ul li,
main .container section ul li {
  font-family: "Sunflower";
}

main ul {
  padding-left: 0px;
}

main .container .content aside {
  width: 20%;
  float: left;
}

main .container .content section {
  width: 80%;
  float: left;
}

main .container .content aside a,
main .container .content section a {
  text-decoration: none;
  color: var(--text-color);
}

/* aside */
main aside .atitle {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

main aside .astitle {
  font-weight: bold;
  padding: 20px 0 5px;
  margin-right: 20px;
  border-bottom: 1px solid var(--border-color);
}

main aside ul li {
  padding: 10px 0 5px;
}

/* section */
main section .atitle {
  display: none;
}

main section .stitle {
  padding: 10px 0;
  border: 2px solid var(--background-color);
  border-radius: 4px;
  text-align: center;
}

main section .stitle span {
  color: var(--background-color);
  font-weight: bold;
}

main section form {
  margin: 30px;
  font-size: 16px;
}

main section form div {
  font-weight: bold;
  margin-bottom: 10px;
}

main section form input[type="text"],
main section form textarea {
  width: 100%;
  margin: 10px 0;
  word-spacing: 0.2em;
  padding: 10px;
}

main section form textarea {
  height: 100%;
  min-height: 500px;
}

main section form .btngrp {
  text-align: right;
}

main section form .btngrp input {
  border: 2px solid var(--background-color);
  border-radius: 4px;
  background-color: var(--white-color);
  padding: 5px 10px;
  margin-left: 4px;
}