/* section - 문서 부분, 게시판 부분 */
main section .filePart {
  border-bottom: 1px solid var(--text-color);
  padding: 40px;
}

main section .boardPart {
  padding: 60px 40px;
}

main section .filePart_up,
main section .boardPart_up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

main section .filePart_up i,
main section .boardPart_up i {
  font-size: 20px;
  padding-right: 7px;
}

main section .filePart_up button,
main section .boardPart_up button {
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 4px 10px;
}

main section .filePart_down {
  display: grid;
  grid-template-columns: 1fr 18% 15%;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

main section .boardPart_down {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

main section .boardPart_down .boardPartTitle {
  border-bottom: 1px solid var(--border-color);
  padding: 12px 0;
}

main section .boardPart_down .boardPartTitle,
main section .boardPart_down .boardPartContent {
  display: grid;
  grid-template-columns: 1fr 18% 15%;
  text-align: center;
}

main section .filePart_down div,
main section .boardPart_down .boardPartContent div {
  border-bottom: 1px solid var(--border-color);
  padding: 12px 0;
}

main section .filePart_down .file,
main section .boardPart_down .boardPartContent .rtitle {
  text-align: left;
  padding: 12px;
  word-break: break-all;
}

main section .filePart_down div:nth-last-child(1),
main section .filePart_down div:nth-last-child(2),
main section .filePart_down div:nth-last-child(3),
main section .boardPart_down .boardPartContent div:nth-last-child(1),
main section .boardPart_down .boardPartContent div:nth-last-child(2),
main section .boardPart_down .boardPartContent div:nth-last-child(3) {
  border-bottom: none;
}