:root {
  --pink-color: #ffcdd2;
  --background-color: #000051;
  /* --background-color: #263343; */
  --text-color: #263343;
  --accent-color: #d49466;
  --border-color: lightgray;
  --whitesmoke-color: #f0f4f5;
  --white-color: #fdffff;
  --linen-color: linen;
  --green-color: #d4e157;
}

.container {
  all: initial;
}

* {
  /* outline: 1px dotted red; */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fdffff;
  font-family: "Gamja Flower";
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul > li {
  list-style: none;
  font-family: "Gamja Flower";
}

/* uppermost */
.uppermost .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: var(--background-color);
}

.uppermost .logo {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  font-family: "Kalam";
}

.uppermost .logo a {
  text-decoration: none;
  color: var(--accent-color);
}

.uppermost .logo i {
  color: var(--accent-color);
  padding-right: 5px;
}

.uppermost .navbar_upper {
  width: 50%;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.uppermost .navbar_upper > li {
  list-style: none;
  font-size: 1.5em;
}

.uppermost .navbar_upper li a {
  color: var(--white-color);
}

.uppermost .navbar_upper a:hover {
  color: var(--white-color);
  text-decoration: none;
}

/* navbar_upper : comm_menu */
.uppermost .navbar_upper li > .comm_menu > li:nth-child(1) {
  margin-top: 8px;
  padding: 10px 20px 8px 20px;
}

.uppermost .navbar_upper li > .comm_menu > li:nth-child(2) {
  margin-bottom: 8px;
  padding: 8px 20px 10px 20px;
}

.uppermost .navbar_upper li:hover .comm_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  font-size: 20px;
  position: absolute;
  z-index: 100;
}

.uppermost .navbar_upper li:hover .comm_menu a {
  color: var(--text-color);
}

.uppermost .navbar_upper .comm_menu {
  display: none;
}

.uppermost .uplog_upper {
  display: flex;
  color: var(--white-color);
  font-size: 20px;
  padding-left: 0px;
}

.uppermost .uplog_upper > li {
  margin: 0px 5px;
}

.uppermost .uplog_upper > li a {
  color: var(--white-color);
}

.uppermost .uplog_upper li a:hover {
  text-decoration: none;
}

.uppermost .toggleBtn {
  display: none;
  position: absolute;
  right: 15px;
  font-size: 25px;
  color: var(--accent-color);
}

/* header */
header {
  background-color: var(--background-color);
}

header .container .slide {
  width: 100%;
  margin: 0 auto;
}

header img {
  height: 600px;
  margin: 0px auto;
  vertical-align: bottom;
}

header ol li {
  margin: 0;
  padding: 0;
}

header .carousel-inner {
  font-family: "Sunflower";
}

/* nav */
nav .navbar {
  background-color: var(--background-color);
  padding: 0px;
}

nav ul > li > a {
  padding: 10px 20px;
  font-size: 1.1em;
}

nav ul > li > a:hover {
  color: #f0f4f5;
  text-decoration: none;
}

/* footer */
footer .container {
  font-family: "Gamja Flower";
}
/* footer : footer_menu1 */
.footer_menu1 > ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--background-color);
  font-size: 20px;
}

.footer_menu1 > ul > li {
  padding: 20px 0px;
}

.footer_menu1 > ul > li > a {
  text-decoration: none;
  color: var(--white-color);
}

.footer_menu1 > ul > li > #policy {
  color: var(--accent-color);
}

/* footer : footer_menu2 */
.footer_menu2 {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.footer_menu2 img {
  width: 100%;
  max-width: 300px;
  vertical-align: bottom;
}

.footer_menu2 .left {
  margin: 0px auto;
}

.right .right_up,
.right .right_down {
  padding: 10px;
}

/* 모바일 */
@media screen and (max-width: 320px) {
  /* uppermost */
  .uppermost .container {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .uppermost .logo {
    font-size: 25px;
    justify-content: flex-start;
  }

  .uppermost .navbar_upper,
  .uppermost .uplog,
  .uppermost span,
  nav .navbar {
    display: none;
  }

  /* 토글 버튼 적용 시 */
  .uppermost > .container {
    flex-direction: column;
  }

  .uppermost .navbar_upper > li > a {
    font-size: 20px;
  }

  .uppermost .navbar_upper > li {
    margin: 10px;
  }

  .uppermost .navbar_upper,
  .uppermost .uplog_upper {
    text-align: center;
  }

  .uppermost .navbar_upper {
    border-bottom: 1px solid var(--white-color);
  }

  .uppermost .toggleBtn {
    display: block;
  }

  .navbar_upper.active,
  .uplog.active {
    display: grid;
  }

  /* header */
  header .container .slide {
    width: 100%;
  }

  header img {
    height: 200px;
    padding-bottom: 30px;
  }

  /* main */
  main {
    width: 100%;
  }

  main .team_matching a,
  main .gong .gong_text div,
  main .dae .dae_text div,
  main .arti a,
  main .arti .arti_wrapper div {
    font-size: 16px;
  }

  main .container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 30px;
    margin: 5px;
    font-size: 17px;
  }

  .gong_wrapper img,
  .dae_wrapper img,
  .arti_wrapper img {
    width: 100%;
    max-width: 150px;
    height: 120px;
    vertical-align: bottom;
    padding: 0px;
  }

  /* main : gong & dae */
  .gong_wrapper,
  .dae_wrapper {
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 4fr 1fr); */
  }

  .gong_text div:nth-child(1),
  .dae_text div:nth-child(1) {
    height: 57px;
  }

  .gong_wrapper > div:nth-child(2),
  .dae_wrapper > div:nth-child(2) {
    grid-row: 3/4;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
  }
  .gong_wrapper > div:nth-child(3),
  .dae_wrapper > div:nth-child(3) {
    grid-row: 2/3;
    padding-bottom: 10px;
  }

  .gong_wrapper > div:nth-child(1),
  .gong_wrapper > div:nth-child(3),
  .dae_wrapper > div:nth-child(1),
  .dae_wrapper > div:nth-child(3) {
    border-right: none;
  }

  /* main : arti */
  .arti_wrapper {
    display: flex;
    flex-direction: column;
  }

  /* footer */
  .footer_menu1 > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.1em;
  }

  .footer_menu1 > ul > li {
    padding: 10px 0px;
  }

  .footer_menu2 img {
    width: 100%;
    width: 200px;
    vertical-align: bottom;
    padding: 5px auto;
  }

  .footer_menu2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
  }

  .footer_menu2 .right_up > div:nth-child(2),
  .footer_menu2 .right_up > div:nth-child(3),
  .footer_menu2 .right_down > div:nth-child(1) {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 321px) and (max-width: 768px) {
  .uppermost .navbar_upper {
    display: none;
  }

  header img {
    height: 300px;
  }

  main {
    font-size: 15px;
  }

  main .container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 50px;
  }

  nav .navbar > li {
    font-size: 20px;
    padding: 15px 20px;
  }

  nav .navbar li a {
    color: var(--white-color);
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  /* header */
  header img {
    padding-bottom: 40px;
  }

  /* nav */
  nav li {
    display: none;
  }
}